In [54]:
import pandas as pd
import numpy as np

In [56]:
liste=[1,2,3,"a","b","c"]

In [58]:
liste=np.array([1,2,3,"a","b","c"])
liste.dtype

dtype('<U11')

In [60]:
df=pd.DataFrame(liste, columns=["veri"])

In [62]:
df

  veri
0    1
1    2
2    3
3    a
4    b
5    c

**Veri İnceleme**
info(), axes, shape, ndim, size, values, head, tail

In [64]:
#ilk önce numpy ile rasgele bir dizi oluşturalım
import numpy as np
#veriler=np.random.randint(1,100,size=(3,3))
veriler=np.random.randint(1,100,([3,3]))

In [66]:
veriler

array([[28, 33, 93],
       [35, 51, 48],
       [52, 11, 46]])

In [68]:
#oluşturduğumuz bu diziyi dataframe'e çevirelim
df=pd.DataFrame(veriler,index=["veri1","veri2","veri3"],columns=["sütun1","sütun2","sütun3"])
df

       sütun1  sütun2  sütun3
veri1      28      33      93
veri2      35      51      48
veri3      52      11      46

In [82]:
veriler=[["Sumeyra","Muti",33],["Hüma","Muti",14]]

In [84]:
data_frame=pd.DataFrame(veriler, index=["ogr1","ogr2"])

In [86]:
df=pd.DataFrame(veriler, columns=["isim","soyisim","yaş"])

In [88]:
df

      isim soyisim  yaş
0  Sumeyra    Muti   33
1     Hüma    Muti   14

In [90]:
df.info()#dataframe hakkında genel bilgi. Soru: veriler np olsaydı ne olurdu?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   isim     2 non-null      object
 1   soyisim  2 non-null      object
 2   yaş      2 non-null      int64
dtypes: int64(1), object(2)
memory usage: 180.0+ bytes

In [15]:
df.axes#dataframe'in satır ve sütun bilgileri

[RangeIndex(start=0, stop=2, step=1),
 Index(['isim', 'soyisim', 'yaş'], dtype='object')]

In [16]:
df.shape#dataframe kaç satır kaç sütundan oluşuyor

(2, 3)

In [17]:
df.ndim#dataframekaç boyutlu

2

In [18]:
df.size#dataframe kaç veriden oluşuyor

6

In [19]:
df.head(1)#dataframe'in ilk 1 satırını verir

      isim soyisim  yaş
0  Sumeyra    Muti   33

In [20]:
df.tail(1)#dataframe'in son 1 satırını verir

   isim soyisim  yaş
1  Hüma    Muti   14

************************************
__veri setini içeri aktarma__

In [185]:
df=pd.read_csv("diabetes_data_upload.csv")
df

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,40,Male,No,Yes,No,Yes,No,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Positive
1,58,Male,No,No,No,Yes,No,No,Yes,No,No,No,Yes,No,Yes,No,Positive
2,41,Male,Yes,No,No,Yes,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Positive
3,45,Male,No,No,Yes,Yes,Yes,Yes,No,Yes,No,Yes,No,No,No,No,Positive
4,60,Male,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,39,Female,Yes,Yes,Yes,No,Yes,No,No,Yes,No,Yes,Yes,No,No,No,Positive
516,48,Female,Yes,Yes,Yes,Yes,Yes,No,No,Yes,Yes,Yes,Yes,No,No,No,Positive
517,58,Female,Yes,Yes,Yes,Yes,Yes,No,Yes,No,No,No,Yes,Yes,No,Yes,Positive
518,32,Female,No,No,No,Yes,No,No,Yes,Yes,No,Yes,No,No,Yes,No,Negative
519,42,Male,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Negative

**Satır, Sütun Seçme İşlemleri**

In [191]:
#Belli bir satırı seçme
df.iloc[0] #0 indeksli satırı gösterir

Age                         40
Gender                    Male
Polyuria                    No
Polydipsia                 Yes
sudden weight loss          No
weakness                   Yes
Polyphagia                  No
Genital thrush              No
visual blurring             No
Itching                    Yes
Irritability                No
delayed healing            Yes
partial paresis             No
muscle stiffness           Yes
Alopecia                   Yes
Obesity                    Yes
class                 Positive
Name: 0, dtype: object

In [195]:
#belli bir satır aralığını gösterme
df.iloc[0:4] #0 indexli satırdan başlayarak 4 indeksli satıra kadar olan satırları gösterir

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,40,Male,No,Yes,No,Yes,No,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Positive
1,58,Male,No,No,No,Yes,No,No,Yes,No,No,No,Yes,No,Yes,No,Positive
2,41,Male,Yes,No,No,Yes,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Positive
3,45,Male,No,No,Yes,Yes,Yes,Yes,No,Yes,No,Yes,No,No,No,No,Positive

In [ ]:
df.iloc[2:7] #Ne sonuç verir?

In [199]:
#belli sütunları seçme
df.iloc[:,0:5] #0 indeksli sütundan 5 indeksli sütuna kadar bütün satırları göster

     Age  Gender Polyuria Polydipsia sudden weight loss
0     40    Male       No        Yes                 No
1     58    Male       No         No                 No
2     41    Male      Yes         No                 No
3     45    Male       No         No                Yes
4     60    Male      Yes        Yes                Yes
..   ...     ...      ...        ...                ...
515   39  Female      Yes        Yes                Yes
516   48  Female      Yes        Yes                Yes
517   58  Female      Yes        Yes                Yes
518   32  Female       No         No                 No
519   42    Male       No         No                 No

[520 rows x 5 columns]

In [201]:
df.iloc[:,3:7] #3 indeksli sütundan 7 indeksli sütuna kadar bütün satırları göster

    Polydipsia sudden weight loss weakness Polyphagia
0          Yes                 No      Yes         No
1           No                 No      Yes         No
2           No                 No      Yes        Yes
3           No                Yes      Yes        Yes
4          Yes                Yes      Yes        Yes
..         ...                ...      ...        ...
515        Yes                Yes       No        Yes
516        Yes                Yes      Yes        Yes
517        Yes                Yes      Yes        Yes
518         No                 No      Yes         No
519         No                 No       No         No

[520 rows x 4 columns]

In [205]:
#SORU: 5. satırdan 17. satıra kadar olan verilerin "Gender" sütununu göster

In [176]:
yeni_df=df.iloc[:,0:5]

In [178]:
yeni_df

     Age  Gender Polyuria Polydipsia sudden weight loss
0     40    Male       No        Yes                 No
1     58    Male       No         No                 No
2     41    Male      Yes         No                 No
3     45    Male       No         No                Yes
4     60    Male      Yes        Yes                Yes
..   ...     ...      ...        ...                ...
515   39  Female      Yes        Yes                Yes
516   48  Female      Yes        Yes                Yes
517   58  Female      Yes        Yes                Yes
518   32  Female       No         No                 No
519   42    Male       No         No                 No

[520 rows x 5 columns]

In [182]:
yeni_df.columns=["Yaş","Cinsiyet","Poliüre","Polidipsi","Ani Kilo Kaybı"]
yeni_df

     Yaş Cinsiyet Poliüre Polidipsi Ani Kilo Kaybı
0     40     Male      No       Yes             No
1     58     Male      No        No             No
2     41     Male     Yes        No             No
3     45     Male      No        No            Yes
4     60     Male     Yes       Yes            Yes
..   ...      ...     ...       ...            ...
515   39   Female     Yes       Yes            Yes
516   48   Female     Yes       Yes            Yes
517   58   Female     Yes       Yes            Yes
518   32   Female      No        No             No
519   42     Male      No        No             No

[520 rows x 5 columns]

In [142]:
#Ice Cream veri setini içeri aktar

In [138]:
#veri setinin bilgilerini göster

In [126]:
#ilk 15 satırı göster

In [128]:
#son 5 satırı göster

In [130]:
#dataframe'in kaç satır ve sütundan oluştuğunu göster

In [ ]:
#dataframe'in boyutunu göster

In [140]:
#veri setinin kaç adet veriden oluştuğunu göster

In [132]:
#Revenue sütununun bilgilerini göster